{% extends "base.html" %}

{% block title %}
	Weather
{% endblock %}

{% block top_content %}
	<h2 class="text-center">What's the weather like?</h2>
	<p class="text-center pb-4">{% now "F j, H:i" %}</p>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-lg-2 g-4">

	{% for weather in weather_data %}
	<div class="col">

		<div class="card">
			<div class="card-body">
				<!-- <h4 class="card-title d-flex justify-content-between align-items-center">
					<span>{{ weather.city }}</span>

					<button
								type="button"
								class="btn btn-outline-danger"
								@click="onDeleteImage(image.uuid)">

								<i class="bi bi-trash3"></i>
							</button>
				</h4> -->
				<div class="d-flex justify-content-between align-items-start">

					<div class="d-flex flex-column">
						<h4 class="pb-2 overflow-hidden">
							<a
								href="{% url 'weather:city_detail' weather.city.name weather.city.openweather_id %}"
								class="text-dark">
							{{ weather.city }}</a>
						</h4>
						<h4 class="pb-2"><mark class="p-1">{{ weather.temp|floatformat:0 }}° C</mark></h4>
						<span class="text-muted">feels like {{ weather.feels_like|floatformat:1 }}° C</span>
						<span class="text-muted">wind speed: {{ weather.wind_speed|floatformat:1 }} m/s</span>
					</div>

					<div class="d-inline-flex flex-column align-items-center">
						<img
							class="img-fluid"
							src="http://openweathermap.org/img/w/{{ weather.icon_name }}.png"
							alt="Weather icon">

						<span class="text-muted">{{ weather.desc_short }}</span>
					</div>

				</div>
			</div>
		</div>

	</div>
	{% endfor %}

</div>

{% endblock content%}
